.navbar {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #c9c9c9;
}

.brand h4 {
  font-size: 48px;
}

.hamburguer {
  display: none;
}

.links ul {
  display: flex;
  gap: 20px;
}

.links ul li {
  list-style: none;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .links {
    position: absolute;
    top: -100%;
  }

  .hamburguer {
    position: absolute;
    right: 50px;
    border: none;
    display: block;
    z-index: 999;
    background-color: transparent;
  }

  .hamburguer::after {
    position: absolute;
    content: '';
    height: 5px;
    background-color: #000;
    width: 30px;
    transition: .3s all ease;
  }

  .hamburguer.active::after {
    transform: rotate(45deg);
  }

  .hamburguer.active::before {
    transform: rotate(-45deg);
    margin-top: 0px;
  }

  .hamburguer::before {
    content: '';
    height: 5px;
    background-color: #000;
    position: absolute;
    width: 30px;
    margin-top: -20px;
    transition: .3s all ease;
  }

  .links {
    width: 100%;
    background-color: #c9c9c9;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: .8s all ease;
    top: -100%;
  }

  .links ul {
    flex-direction: column;
  }

  .links.active {
    width: 100%;
    background-color: #c9c9c9;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: .8s all ease;
    top: 20%;
  }

  .links.active ul {
    flex-direction: column;
  }
}